services:
  upstage:
    image: node:24-bookworm
    container_name: upstage_frontend
    volumes:
      - .:/app
      - /frontend_app/dist:/app/dist
      - /frontend_app/.env:/app/.env
    working_dir: /app
    command: >
      /bin/sh -c "
      export CI=true &&
      npm install -g npm@latest pnpm@10.28.1 &&
      pnpm install --no-frozen-lockfile &&
      pnpm build &&
      tail -f /dev/null
      "
