services:
  upstage:
    image: node:22-bookworm
    container_name: upstage_frontend
    volumes:
      - .:/app
      - /frontend_app/dist:/app/dist
    working_dir: /app
    command: >
      /bin/sh -c "
      npm install -g npm pnpm &&
      pnpm install --frozen-lockfile &&
      pnpm build &&
      tail -f /dev/null
      "
